<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUCCESS!</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

</head>
<body> 
<form action="/take_screenshot" method="get">
  <div class ="para">
    <p>Click on the link given below to take a screenshot of the provided link!</p>
    <br>
  </div>
    <button class="btn"><i class="fa fa-download"></i>Click here</button>
</form>
<form action="/">
  <p><input type="submit" class="btn1" value="Back"/> </p>
  </form>
  
</body>
</html>